{% extends 'theme.html' %}


{% load crispy_forms_tags %}


{% block navbar %}
{% endblock navbar %}

{% block title %}
Log In
{% endblock title %}



{% block content %}

<table>
    <tr>
        <td>
            <form method="post" class="m-5">
                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-dark m-5">Log In</button>
                <a class="btn btn-dark m-5" href="../../">Go Back</a>
            </form>
        </td>
    </tr>
</table>




{% endblock content %}